:root {
  --tableBorderColor: black;
  --tableEvenBGColor: rgb(238, 218, 218);
}

body {
  background-color: azure;
  color: rgba(20, 18, 18, 0.63);
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  grid-template-areas:
    'navbar'
    'desktop'
    'footer';
  grid-template-columns: 100%;
  grid-template-rows: 10% 1fr 10%;
  min-height: 98vh;
  min-width: 98vw;
}

h1 {
  color: #699db3;
  padding: 12px 0px 0px 12px;
  margin: 0;
}

h2 {
  padding: 5px 0px 5px 3px;
  margin: 5px 0px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px #242424 solid;
  color: #ffa128;
}

h3 {
  display: inline;
  padding: 0px;
  font-size: 10px;
  color: #4f4f4f;
  font-weight: normal;
  line-height: 13px;
}

h4 {
  display: inline;
  padding: 0px;
  font-size: 10px;
  color: #3f3f3f;
  font-weight: normal;
  line-height: 13px;
}

h5 {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  font-weight: normal;
  line-height: 15px;
  margin-top: 3px;
}

h1 a:link, h1 a:visited, h1 a:hover {
  color: #699db3;
  text-decoration: none;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

/* Document icon */
/* .docIcon{
    background: linear-gradient(#ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
    border:1px solid #ccc;
    border-radius:3px 7px 3px 3px;
    box-shadow:inset rgba(255,255,255,0.8) 0 1px 1px;
    display: inline-block;
    width:20px;
    height:28px;
    position:relative;
    text-indent:-9999em;
    margin:21px auto;
}

 .docIcon:before {
    content:"";
    display: inline-block;
    position:absolute;
    top:0;
    right:0;
    width:5px;
    height:5px;
    background:#ccc;
    box-shadow:rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-radius:0 7px 0 0;
}

.docIcon:after {
    content:"";
    display: inline-block;
    position:absolute;
    left:0;
    top:0;
    width:60%;
    margin:11px 20% 0;
    background:#ccc;
    background: linear-gradient(#ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
    height:5px;
} */