div.draggable {
  position: absolute;
  z-index: 9;
  display: grid;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
/*   
  TODO: Make resize dynamic? Turn on/off by parameter?
   */
  resize: both;
  overflow: auto;
    grid-template-areas:
    'navbar buttons'
    'content content';
  grid-template-columns: auto min-content;
  grid-template-rows: 2em 1fr;
}
  
[id$=header] {
  padding: 10px;
  cursor: move;
  grid-area: navbar;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

[id$=close] {
  color: #fff;
  background-color: #2196F3;
  grid-area: buttons;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

[id$=header] + [id$=close]:hover{
  color: rgb(0, 0, 0);
}