footer {
  background-color: black;
  color: #090a18;
  /* bottom: 0px;  */
  color: white;
  grid-area: footer;
  /* left: 0px; */
  /* position: fixed; */
  /* text-align: left; */
  /* width: 100%; */
}