/* Style the navigation bar */
navbar {
    background-color: #555;
    color: white;
    font-size: 14px;
    grid-area: navbar;
}
  
/* Navbar links */
navbar a {
  color: white;
  float: left;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}
  
/* Navbar links on mouse-over */
navbar a:hover {
  background-color: rgb(7, 7, 7);
}
  
/* navbar svg {
  cursor:pointer;
  float: left;
  height:16px;
  width:16px;
}
 */
defs {
  display: none;
}

.dropdown {
  background-color: inherit;
  border: none;
  color: white;
  float: left;
  font-family: inherit;
  font-size: 14px;  
  margin: 0;
  overflow: hidden;
  outline: none;
  padding: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 12px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  display: block;
  float: none;
  padding-top: 12px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  navbar a {
    float: none;
    display: block;
  }
} 