[id$=portfolio_content_right] {
  grid-area: cont_right;
}

[id$=portfolio_side] {
  background-color: rgb(238, 218, 218);
  grid-area: side;
}

[id$=portfolio_side] > input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

[id$=portfolio_side] > label {
  border-bottom: 1px solid #CCC;
  color: #666;
  display: block;
  padding: 0.5em;
  text-align: center;
}

[id$=portfolio_side] > label:hover {
  color: #000;
}

[id$=portfolio_side] > label::before {
  color: #000;
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 20px;
  content: "\21D3"; /* down arrow */
  vertical-align: text-top;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

[id$=portfolio_side] > [id$=expand] {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

[id$=toggle]:checked ~ [id$=expand] {
  height: auto;
  text-align: left;
}

[id$=toggle]:checked ~ label::before {
  color: #000;
  content: "\21D1"; /* up arrow */
  opacity: 1;
}

#portfolioactions {
  color: #666;
  grid-area: portactions;
  text-align: left;
}

#portfolio_content {
  display: grid;
  gap: 10px;
  grid-area: content;
  grid-template-areas:
    'portactions portactions portactions portactions portactions'
    'side cont_right cont_right cont_right cont_right';
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
}

[id$=portfolio_content_right] > table {
  border-collapse: collapse;
}

[id$=portfolio_content_right] > table tbody tr:nth-child(even) td {
  background-color: var(--tableEvenBGColor);
}

[id$=portfolio_content_right] > table tbody tr td, [id$=portfolio_content_right] > table tbody tr th {
  background-color: var(--tableEvenBGColor);
  border: 1px var(--tableBorderColor);
  border-style: solid;
  padding: 0 0.5em 0 0.5em;
}

#addportform, #portposaddform {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}

#portposaddform p {
  padding-right: 1em;
}

#addportbuttons, #portposaddbuttons {
  text-align: right;
  margin-top: 1em;
}
