#symbolheader {
  display:grid;
  grid-template-areas: 'addsym filter';
  grid-template-columns: auto auto;
}

#symbolheader #symadd {
  grid-area: addsym;
}

#symbolheader #symFilter {
  grid-area: filter;
  text-align: right;
}

#symbolscontent #symboltable table {
  border-collapse: collapse;
}

/* #symbolscontent #symboltable table tbody tr:nth-child(even) {
  background-color: var(--tableEvenBGColor);
} */

#symbolscontent #symboltable table tbody tr td, #symbolscontent #symboltable table tbody tr th {
  border: 1px var(--tableBorderColor);
  border-style: solid;
}

#symbolscontent #symbolheader {
  background-color: inherit;
  text-align: left;
}

#addsymform {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#addsymbuttons {
  text-align: right;
  margin-top: 1em;
}

#warrantextras {
  display: none;
}

#symboltable table tr th::before {
  content: attr(id);
}

#symboltable table tr:not(:first-child):hover {
  background-color: antiquewhite;
  filter: invert(100%);
}

.down {
  display: inline-block;
  font-size:x-large;
  font-weight: bold;
  color: red;
}

.up {
  display: inline-block;
  font-size:x-large;
  font-weight: bold;
  color: blue;
}

.down:hover, .up:hover {
  cursor: pointer;
}

.symportadd {
  display: inline-block;
  font-weight: bold;
  background: radial-gradient(circle at center, #CCC 100%, transparent 25%);
}

.symportadd:hover {
  transform: scale(1.5);
  transition: 1s ease;
}
