<div id="{[{ .Type }]}{[{ .ID }]}" class="draggable">
	<div id="{[{ .Type }]}{[{ .ID }]}header">{[{ .Title }]}</div>
	<a href="#" onclick="finish(event)" id="{[{ .ID }]}close">&times;</a>
	<div id="{[{ .ID }]}content">
		{[{ .Content }]}
	</div>
</div>