{[{ define "head" }]}
<!DOCTYPE html>
<html lang="">
<head>
  <title>PF</title>
  <!-- META -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta charset="utf-8" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/basics.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/desktop.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/drag.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/portfolio.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/symbols.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/watchlist.css" media="all" />
  <!-- Icons -->
  <link rel="icon" type="image/png" href="/favicon.png" size="32x32" />
  <!-- Scripts -->
  <script src="scripts/drag.js"></script>
  <script src="scripts/window.js"></script>
  <script src="scripts/wadd.js"></script>
  <script src="scripts/padd.js"></script>
  <script src="scripts/symbols.js"></script>
</head>
{[{end}]}